@import "utils/vars";
@import "utils/mixins";
@import "modules/social-list.scss";

.last-post-container {
    width: 1024px;

    & > h1 {
        padding: calc(#{$h1custom}+#{$marginPost}) $marginPost 10px $marginPost;
        font-family: Lora-BoldItalic;
        color: #404040;
        // font-style: italic;
        // font-weight: bold;
        font-size: 42px;
        line-height: 109.6%;
        @media screen and(max-width: $smDesktopWidth) {
            font-size: 34px;
            margin: 0 20%;
        }
        @media screen and(max-width: $tableWidth) {
            font-size: 24px;
            margin: 0 10%;
        }
        @media screen and(max-width: $smTableWidth) {
            font-size: 22px;
            margin: 0;
        }
        @media screen and(max-height: $phoneWidth) {
            font-size: 20px;
            margin: 0 10%;
        }
    }
    margin: 0 auto;

    @media screen and(max-width: 1024px) {
        width: 100%;
        margin: 0;
    }

    .last-post-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        // margin: 0 calc(-1 *#{$marginPost}) 30px calc(-1 *#{$marginPost});
        // width: 100%;
        @media screen and(max-width: $smDesktopWidth) {
            margin: 0 20%;
            // width: 100%;
        }
        @media screen and(max-width: $tableWidth) {
            margin: 0 10%;
            // width: 100%;
        }
        @media screen and(max-width: $smTableWidth) {
            margin: 0;
            // width: 100%;
        }
        @media screen and(max-height: $phoneWidth) {
            margin: 0 10%;
        }

        .post-item {
            position: relative;
            margin: $marginPost;
            width: calc(100% / 12 * 6 - 2 *#{$marginPost});
            @media screen and(max-width: 1024px) {
                width: calc(100% / 12 * 12 - 2 *#{$marginPost});
            }
            height: 400px;

            border-radius: 10px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .post-item-wrapper {
                widows: 100%;
                height: 100%;
                // background: #38434081;
                background: rgba($color: #384340, $alpha: 0.7);
                border-radius: inherit;
                padding: 5% 5%;
                padding-left: 42px;
                padding-top: 36px;
                @media screen and(max-width: $phoneWidth) {
                    padding: 5% 5%;
                }
                .post-item-content {
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    .post-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .hashtag {
                            font-family: Raleway;
                            font-size: 14px;
                            line-height: 16px;
                            border-radius: 6px;
                            max-width: 80%;
                            @media screen and(max-width: $phoneWidth) {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 14px;
                            }
                            @media screen and(max-width: $phoneWidth) {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 12px;
                            }
                            a {
                                cursor: pointer;
                                font-family: Raleway;
                                margin-right: 6px;
                                color: $active-link-color;
                            }
                        }
                    }

                    .post-description{
                        max-width: 90%;
                        @media screen and(max-width: $smPhoneWidth) {
                            max-width: 85%;
                        }
                    }

                    h2 {
                        font-family: Raleway;
                        font-size: 28px;
                        line-height: 33px;
                        color: #ffffff;
                        margin-bottom: 14px;

                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;

                        @media screen and(max-width: $phoneWidth) {
                            font-size: 22px;
                            line-height: 26px;
                        }
                        @media screen and(max-width: $smPhoneWidth) {
                            font-size: 20px;
                            line-height: 22px;
                        }
                    }

                    p {
                        font-family: "Lora-Italic";
                        font-size: 17px;
                        line-height: 22px;
                        color: #ffffff;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        @media screen and(max-width: $phoneWidth) {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }


                    .post-meta {
                        display: flex;
                        .author-avatar {
                            img {
                                border-radius: 50%;
                                @media screen and(max-width: $phoneWidth) {
                                    height: 34px;
                                    width: auto;
                                }
                            }
                        }
                        .post-info {
                            padding-left: 10px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            p {
                                // font-family: Raleway;
                                // font-style: normal;
                                font-size: 14px;
                                line-height: 16px;
                                &#author-name {
                                    font-family: Raleway;
                                    // font-weight: 600;
                                }
                                &#post-date {
                                    font-family: Raleway-Regular;
                                }
                            }
                            @media screen and(max-width: $phoneWidth) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
