@import "utils/vars";
$social-list-width: 55px;
$social-list-mrg: 5px;

$circle-animation-time: 0.1s;
$circle-opacity-time: 0.15s;
$social-list-color: rgba(119, 116, 116, 0.623);

.entry-header {
	height: auto;
	display: flex;
	padding-bottom: 10px;
	position: relative;
	h1 {
		width: calc(100% - #{$social-list-width} - 2 * #{$social-list-mrg});
		font-family: Raleway;
		font-style: normal;
		font-weight: 600;
		line-height: 50px;
		color: #404040;
		font-size: 48px;
		@media screen and (max-width: $tableWidth) {
			font-size: 44px;
			line-height: 48px;
		}
		@media screen and (max-width: $smTableWidth) {
			font-size: 30px;
			line-height: 34px;
		}
		@media screen and (max-width: $phoneWidth) {
			font-size: 20px;
			line-height: 24px;
		}
		@media screen and (max-width: $smPhoneWidth) {
			font-size: 18px;
			line-height: 20px;
		}
	}

	.social-link-container {
		position: absolute;
		// width: 100px;
		right: 0;
		border-radius: 10px;
		.share-button {
			display: flex;
			justify-content: center;
			i {
				color: #404040;
				line-height: 58px;
				font-size: 24px;

				@media screen and (max-width: $tableWidth) {
					font-size: 22px;
					line-height: 56px;
				}
				@media screen and (max-width: $smTableWidth) {
					font-size: 22px;
					line-height: 42px;
				}
				@media screen and (max-width: $phoneWidth) {
					font-size: 18px;
					line-height: 26px;
				}
				&:hover {
					color: $active-link-color;
					cursor: pointer;
				}
			}
		}

		&.social-link-container-open {
			background-color: $social-list-color;
			transition: background-color 0.5s ease;

			#social-item-facebook {
				visibility: visible;
				transform: scale(0.9, 0.9);
				opacity: 1;
				transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
			}
			#social-item-twitter {
				transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
				transition-delay: $circle-animation-time;
				opacity: 1;
				transform: scale(0.9, 0.9);
				visibility: visible;
			}
			#social-item-linkedin-in {
				transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
				transition-delay: calc(2 * #{$circle-animation-time});
				opacity: 1;
				transform: scale(0.9, 0.9);
				visibility: visible;
			}
			#social-item-link {
				transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
				transition-delay: calc(3 *#{$circle-animation-time});
				opacity: 1;
				transform: scale(0.9, 0.9);
				visibility: visible;
			}
		}

		&:not(.social-link-container-open) {
			#social-item-facebook {
				transition-delay: calc(3 *#{$circle-animation-time});
			}
			#social-item-twitter {
				transition-delay: calc(2 * #{$circle-animation-time});
			}
			#social-item-linkedin-in {
				transition-delay: $circle-animation-time;
			}
			#social-item-link {
				transition-delay: 0s;
			}
		}

		.sociali-item {
			cursor: pointer;
			visibility: hidden;
			width: $social-list-width;
			height: $social-list-width;
			margin: $social-list-mrg;
			transform: scale(0.3, 0.3);
			opacity: 0;
			border-radius: 50%;
			transition: all 0.2s ease;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}

			i {
				color: white;
			}
		}

		#social-item-facebook {
			background-color: #4464a3;
		}
		#social-item-twitter {
			background-color: #55acee;
		}
		#social-item-linkedin-in {
			background-color: #0077b5;
		}
		#social-item-link {
			background-color: #333;
		}
	}
}

.posts-container {
	padding-top: 1%;

	width: $tableWidth;
	margin: 0 auto;
	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	color: #252525;
	@media screen and (max-width: $tableWidth) {
		width: 100%;
		margin: 0;
		padding: 5% 5%;
	}

	p {
		padding-bottom: 10px;
		&.has-text-align-right {
			text-align: right;
		}
		&.has-text-align-center {
			text-align: center;
		}
		a {
			color: #688ce9;
		}
	}

	.wp-block-gallery {
		.blocks-gallery-grid {
			display: flex;
			flex-direction: row;
			align-items: center;
			.blocks-gallery-item {
				margin: 10px;
			}
		}
	}

	.wp-block-quote {
		border-left: 4px solid #000;
		padding-left: 10px;
	}

	.wp-block-table {
		padding: 10px 0;
	}

	figure {
		&.aligncenter {
			text-align: center;
		}
		&.alignleft {
			text-align: left;
		}
		&.alignright {
			text-align: right;
		}
	}

	ul {
		li {
			margin-left: 20px;
			list-style: decimal;
		}
	}

	ol {
		li {
			margin-left: 20px;
			list-style: disc;
		}
	}

	.wp-block-embed__wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.last-posts-container {
	background-color: #f8f8f8;
	.las-post-wrapper {
		width: $tableWidth;
		margin: 2% auto;

		@media screen and (max-width: $tableWidth) {
			width: 100%;
			margin: 2% 0;
			padding: 5% 5%;
		}

		h1 {
			font-family: Lora;
			font-style: italic;
			font-weight: bold;
			font-size: 36px;
			line-height: 47px;
			/* identical to box height */
			color: #404040;
		}

		.post-row {
			display: flex;
			flex-direction: row;
			margin: 0 -15px;
			.last-post {
				width: calc(100% / 12 * 4 - 2 * 15px);
				margin: 15px;
				a {
					font-family: Raleway;
					font-style: normal;
					font-weight: 600;
					font-size: 24px;
					line-height: 28px;
					color: #404040;
					// text-align: justify;
					.post-img-container {
						position: relative;
						width: 100%;
						height: 150px;
						background-color: red;
						border-radius: 10px;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: cover;
						.author-container{
							border-radius: inherit;
							position: absolute;
							color: white;
							background-color: rgba(56,67,64,.51);
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}
