footer {
    position: relative;
    background-color: black;
    color: white;
}
.footer-container {
    position: relative;
    .content {
        max-width: 1024px;
        position: relative;
        margin: 0 auto;
        padding: 35px 0;
        text-align: center;
        // @media screen and (max-width: $desktopWidth) {
        //     width: 80%;
        // }
        // @media screen and (max-width: $smDesktopWidth) {
        //     width: 85%;
        // }
        // @media screen and (max-width: smTableWidth) {
        //     width: 90%;
        // }
        p {
            width: 80%;
            margin: 0 auto;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            
            color: #FFFFFF;
        }

        a {
            color: white;
        }

        .social-contacts-list {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
            a {
                margin: 0 13px;
            }
        }
    }
}
