footer {
    position: relative;
    background-color: #202020;
    color: white;
}
.footer-container {
    position: relative;
    .content {
        max-width: 1024px;
        position: relative;
        margin: 0 auto;
        padding: 35px 0;
        text-align: center;

        p {
            font-family: Raleway-Regular;
            width: 80%;
            margin: 0 auto;
            // font-size: 0.5rem;
            font-size: 0.78rem;
            color: #FFFFFF;
        }

        a {
            color: white;
        }

        .social-contacts-list {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
            a {
                margin: 0 13px;
            }
        }
    }
}
