@import "utils/vars";

$social-list-width: 65px;
$social-list-mrg: 5px;

$circle-animation-time: 0.1s;
$circle-opacity-time: 0.15s;
$social-list-color: rgba(119, 116, 116, 0.623);

.social-link-container {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
    // width: calc(#{$social-list-width} + 2 *#{$social-list-mrg});
    width: 90px;    
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px 0;
    background-color: transparent;
    transition-delay: 0.5s;
    transition: background-color 0.5s ease;

    @media screen and (max-width: $phoneWidth  ) {
        padding: 5px 0;        
        margin-top: 0.2%!important;
        width: calc(#{$social-list-width} + 2 *#{$social-list-mrg});   

    }

    .share-button {
        svg {
            margin: 0 auto;
            cursor: pointer;
            display: block;
            fill: white;
            &:hover {
                fill: $active-link-color !important;
            }
        }
    }

    .share {
        display: flex;
        width: 100%;
        font-size: 22px;
        color: white;
        justify-content: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &.social-link-container-open {
        background-color: $social-list-color;
        transition: background-color 0.5s ease;

        #social-item-facebook {
            visibility: visible;
            transform: scale(0.9, 0.9);
            opacity: 1;
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
        }
        #social-item-twitter {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: $circle-animation-time;
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
        #social-item-linkedin-in {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: calc(2 * #{$circle-animation-time});
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
        #social-item-link {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: calc(3 *#{$circle-animation-time});
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
    }

    &:not(.social-link-container-open) {
        #social-item-facebook {
            transition-delay: calc(3 *#{$circle-animation-time});
        }
        #social-item-twitter {
            transition-delay: calc(2 * #{$circle-animation-time});
        }
        #social-item-linkedin-in {
            transition-delay: $circle-animation-time;
        }
        #social-item-link {
            transition-delay: 0s;
        }
    }

    .sociali-item {
        cursor: pointer;
        visibility: hidden;
        width: $social-list-width;
        height: $social-list-width;
        // margin: $social-list-mrg;
        margin: $social-list-mrg auto;
        transform: scale(0.3, 0.3);
        opacity: 0;
        border-radius: 50%;
        transition: all 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        i {
            color: white;
        }
    }

    #social-item-facebook {
        background-color: #4464a3;
    }
    #social-item-twitter {
        background-color: #55acee;
    }
    #social-item-linkedin-in {
        background-color: #0077b5;
    }
    #social-item-link {
        background-color: #333;
    }
}
