$social-list-width: 55px;
$margin-social-item: 5px;

$circle-animation-time: 0.1s;
$circle-opacity-time: 0.15s;
$social-list-color: rgba(119, 116, 116, 0.623);

.news-social-list {
    width: calc(2 *#{$margin-social-item}+#{$social-list-width});
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 990;
    transition: background-color 0.5s ease;

    .share {
        padding-top: 5px;
        display: flex;
        font-size: 22px;
        color: white;
        justify-content: center;
        i {
            cursor: pointer;
            @media screen and(max-width: $phoneWidth) {
                font-size: 18px;
            }
            &:hover {
                color: #bdf8a3;
            }
        }
    }

    &.news-social-list-open {
        background-color: $social-list-color;
        transition: background-color 0.5s ease;

        .social-container {
            .sociali-item {
                opacity: 1;
                visibility: visible;
            }
        }

        #social-item-facebook {
            visibility: visible;
            transform: scale(0.9, 0.9);
            opacity: 1;
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
        }
        #social-item-twitter {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: $circle-animation-time;
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
        #social-item-linkedin-in {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: calc(2 * #{$circle-animation-time});
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
        #social-item-link {
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition-delay: calc(3 *#{$circle-animation-time});
            opacity: 1;
            transform: scale(0.9, 0.9);
            visibility: visible;
        }
    }

    .social-container {
        margin-top: 20px;

        .sociali-item {
            cursor: pointer;
            width: $social-list-width;
            height: $social-list-width;
            // margin: $social-list-mrg;
            display: flex;
            margin: $margin-social-item;
            justify-content: center;
            border-radius: 50%;
            align-items: center;
            transform: scale(0.3, 0.3);
            opacity: 0;
            visibility: hidden;
            transition: transform $circle-animation-time ease, opacity $circle-opacity-time ease;
            transition: all 0.2s ease;
            i {
                color: white;
            }
        }
        #social-item-facebook {
            background-color: #4464a3;
        }
        #social-item-twitter {
            background-color: #55acee;
        }
        #social-item-linkedin-in {
            background-color: #0077b5;
        }
        #social-item-link {
            background-color: #333;
        }
    }

    &:not(.news-social-list-open) {
        #social-item-facebook {
            transition-delay: calc(3 *#{$circle-animation-time});
        }
        #social-item-twitter {
            transition-delay: calc(2 * #{$circle-animation-time});
        }
        #social-item-linkedin-in {
            transition-delay: $circle-animation-time;
        }
        #social-item-link {
            transition-delay: 0s;
        }
    }
}
